# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Data science model files
*.h5
*.pth
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model folders (uncomment if you don't want to track these)
data/
models/

yolov8m_gemstone_model.pt

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
